@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  background-color: #FFFCF9;
  color:#352D39;
}

.customMaxWidth{
  max-width: 1440px;
  width: auto;
}
